<style>
    header {
        background-color: #444;
        padding: 2em;
        text-align: center;
        color: blue;
        position: relative;
        top: 0;
        width: 100%;
    }
    
    footer {
        background-color: #444;
        padding: 2em;
        text-align: center;
        color: blue;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
<h1>this is home page </h1>