<link rel="stylesheet" href="/css/uses_profile.css">

<h1>login Page</h1>
<form action="/users/create-session" method="post">
    <label for="email">Enter your Email</label>
    <input type="text" name="email" placeholder="Email" required>
    <!-- <label for="email">Enter your Name</label> -->
    <!-- <input type="text" name="username" placeholder="username"> -->
    <label for="email">Enter your Password</label>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">LogIN </button>
</form>