header {
    background-color: #444;
    padding: 2em;
    text-align: center;
    color: blue;
    position: relative;
    top: 0;
    width: 100%;
}

footer {
    background-color: #444;
    padding: 2em;
    text-align: center;
    color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    /* background-color: black; */
    color: navy;
    text-align: center;
}